<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.ballproject.knime.base.mime.demangler.DemanglerProvider" name="Demangler Provider" schema="schema/org.ballproject.knime.base.mime.demangler.DemanglerProvider.exsd"/>  
   
   <extension point="org.knime.workbench.repository.categories">
    <category description="/community/GenericKnimeNodes" icon="icons/category.png" path="/community" name="GenericKnimeNodes" level-id="GenericKnimeNodes"/>
    <category description="/community/GenericKnimeNodes/IO" icon="icons/category.png" path="/community/GenericKnimeNodes" name="IO" level-id="IO"/>      
    <category description="/community/GenericKnimeNodes/View" icon="icons/category.png" path="/community/GenericKnimeNodes" name="Util" level-id="Util"/>
    <category description="/community/GenericKnimeNodes/KNIMEConversion" icon="icons/category.png" path="/community/GenericKnimeNodes" name="KNIMEConversion" level-id="KNIMEConversion"/>
    <category description="/community/GenericKnimeNodes/KNIMEConversion" icon="icons/category.png" path="/community/GenericKnimeNodes" name="Flow" level-id="Flow"/>
   </extension>

   <extension point="org.knime.workbench.repository.nodes">
    <node factory-class="org.ballproject.knime.base.io.importer.MimeFileImporterNodeFactory" id="org.ballproject.knime.base.io.importer.MimeFileImporterNodeFactory" category-path="/community/GenericKnimeNodes/IO"/>
    <node factory-class="org.ballproject.knime.base.io.exporter.MimeFileExporterNodeFactory" id="org.ballproject.knime.base.io.exporter.MimeFileExporterNodeFactory" category-path="/community/GenericKnimeNodes/IO"/>
    <node factory-class="org.ballproject.knime.base.io.viewer.MimeFileViewerNodeFactory" id="org.ballproject.knime.base.io.viewer.MimeFileViewerNodeFactory" category-path="/community/GenericKnimeNodes/Util"/>
    <node factory-class="org.ballproject.knime.base.io.listimporter.ListMimeFileImporterNodeFactory" id="org.ballproject.knime.base.io.listimporter.ListMimeFileImporterNodeFactory" category-path="/community/GenericKnimeNodes/IO"/>
    <node factory-class="org.ballproject.knime.base.io.listexporter.ListMimeFileExporterNodeFactory" id="org.ballproject.knime.base.io.listexporter.ListMimeFileExporterNodeFactory" category-path="/community/GenericKnimeNodes/IO"/>
    <node factory-class="org.ballproject.knime.base.io.demangler.DemanglerNodeFactory" id="org.ballproject.knime.base.io.demangler.DemanglerNodeFactory" category-path="/community/GenericKnimeNodes/KNIMEConversion"/>
    <node factory-class="org.ballproject.knime.base.io.mangler.ManglerNodeFactory" id="org.ballproject.knime.base.io.mangler.ManglerNodeFactory" category-path="/community/GenericKnimeNodes/KNIMEConversion"/>
    <node factory-class="org.ballproject.knime.base.flow.beanshell.BeanShellNodeFactory" id="org.ballproject.knime.base.flow.beanshell.BeanShellNodeFactory" category-path="/community/GenericKnimeNodes/Util"/>    
    <node factory-class="org.ballproject.knime.base.flow.listzip.ListZipLoopStartNodeFactory" id="org.ballproject.knime.base.flow.listzip.ListZipLoopStartNodeFactory" category-path="/community/GenericKnimeNodes/Flow"/>
    <node factory-class="org.ballproject.knime.base.flow.listzip.ListZipLoopEndNodeFactory" id="org.ballproject.knime.base.flow.listzip.ListZipLoopEndNodeFactory" category-path="/community/GenericKnimeNodes/Flow"/>
   </extension>
   
   <extension point="org.knime.product.splashExtension">
        <splashExtension icon="icons/GKN.png" id="org.ballproject.knime.splashExtension"/>
   </extension>
   
   <extension point="org.eclipse.equinox.preferences.preferences">
      <initializer class="com.genericworkflownodes.knime.preferences.PreferenceInitializer"/>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page category="org.knime.workbench.ui.preferences" class="com.genericworkflownodes.knime.preferences.PreferencePage" id="org.ballproject.knime.base.preferences.GKNPreferences" name="Generic KNIME Nodes"/>
      <page class="com.genericworkflownodes.knime.preferences.ExternalToolsPage" id="org.ballproject.knime.base.preferences.GKNExternalTools" name="Tool DB" category="org.ballproject.knime.base.preferences.GKNPreferences"/>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="com.genericworkflownodes.knime.toolfinderservice.ToolLocatorServiceFactory">
         <service
               serviceClass="com.genericworkflownodes.knime.toolfinderservice.IToolLocatorService">
         </service>
      </serviceFactory>
   </extension>
   
</plugin>
