<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>

   <extension-point id="com.genericworkflownodes.knime.mime.filesuffix.Checker" name="filesuffixChecker" schema="schema/com.genericworkflownodes.knime.mime.filesuffix.Checker.exsd"/>

   <extension point="org.knime.workbench.repository.categories">
    <category description="/community/GenericKnimeNodes" icon="icons/category.png" level-id="GenericKnimeNodes" name="GenericKnimeNodes" path="/community"/>
    <category description="/community/GenericKnimeNodes/IO" icon="icons/category.png" level-id="IO" name="IO" path="/community/GenericKnimeNodes"/>
    <category description="/community/GenericKnimeNodes/View" icon="icons/category.png" level-id="Util" name="Util" path="/community/GenericKnimeNodes"/>
    <category description="/community/GenericKnimeNodes/KNIMEConversion" icon="icons/category.png" level-id="KNIMEConversion" name="KNIMEConversion" path="/community/GenericKnimeNodes"/>
    <category description="/community/GenericKnimeNodes/KNIMEConversion" icon="icons/category.png" level-id="Flow" name="Flow" path="/community/GenericKnimeNodes"/>
    <category
          icon="icons/category.png"
          level-id="GenericKNIMENodeCluster"
          locked="true"
          name="GenericKNIMENodeCluster"
          path="/community/GenericKnimeNodes">
    </category>
   </extension>

   <extension point="org.knime.workbench.repository.nodes">
    <node category-path="/community/GenericKnimeNodes/IO" factory-class="com.genericworkflownodes.knime.nodes.io.dirimporter.MimeDirectoryImporterNodeFactory"/>
	<node category-path="/community/GenericKnimeNodes/IO" factory-class="com.genericworkflownodes.knime.nodes.io.index.IndexLoaderNodeFactory"/>
    <node
          category-path="/community/GenericKnimeNodes/Flow"
          deprecated="false"
          factory-class="com.genericworkflownodes.knime.nodes.util.dontsave.file.DontSaveEndNodeFactory">
    </node>
    <node
          category-path="/community/GenericKnimeNodes/Flow"
          deprecated="false"
          factory-class="com.genericworkflownodes.knime.nodes.util.dontsave.file.DontSaveStartNodeFactory">
    </node>
    <node
          category-path="/community/GenericKnimeNodes/Flow"
          deprecated="false"
          factory-class="com.genericworkflownodes.knime.nodes.util.dontsave.table.DontSaveEndNodeFactory">
    </node>
    <node
          category-path="/community/GenericKnimeNodes/Flow"
          deprecated="false"
          factory-class="com.genericworkflownodes.knime.nodes.util.dontsave.table.DontSaveStartNodeFactory">
    </node>
   </extension>

   <extension
      point="com.genericworkflownodes.knime.mime.filesuffix.Checker">
   <index-type name="yara">
      <suffix
            suffix_string="lf.drp">
      </suffix>
      <suffix
            suffix_string="lf.drs">
      </suffix>
      <suffix
            suffix_string="lf.drv">
      </suffix>
      <suffix
            suffix_string="lf.pst">
      </suffix>
      <suffix
            suffix_string="sa.ind">
      </suffix>
      <suffix
            suffix_string="sa.len">
      </suffix>
      <suffix
            suffix_string="sa.val">
      </suffix>
      <suffix
            suffix_string="txt.concat">
      </suffix>
      <suffix
            suffix_string="txt.limits">
      </suffix>
      <suffix
            suffix_string="txt.size">
      </suffix>
   </index-type>
   <index-type name="bowtie">
      <suffix
            suffix_string="1.ebwt">
      </suffix>
      <suffix
            suffix_string="2.ebwt">
      </suffix>
      <suffix
            suffix_string="3.ebwt">
      </suffix>
      <suffix
            suffix_string="4.ebwt">
      </suffix>
   </index-type>   
   <index-type name="bowtie2"> 
      <suffix
            suffix_string="1.bt2">            
      </suffix>
      <suffix
            suffix_string="2.bt2">            
      </suffix>
      <suffix
            suffix_string="3.bt2">            
      </suffix>
      <suffix
            suffix_string="4.bt2">            
      </suffix>          
   </index-type>   
   <index-type name="bwa">
      <suffix 
      		suffix_string="amb">
      </suffix>
      <suffix 
      		suffix_string="ann">
      </suffix>
      <suffix 
      		suffix_string="bwt">
      </suffix>
      <suffix 
      		suffix_string="pac">
      </suffix>
      <suffix 
      		suffix_string="sa">
      </suffix>
   </index-type>
   </extension>  
</plugin>
