<?xml version="1.0" encoding="UTF-8"?>
<feature
      id="@@featureID@@"
      label="@@featureName@@"
      version="@@featureVersion@@">

    <description>
    @@description@@
    </description>

    <copyright>
    @@copyright@@
    </copyright>

    <license>
    @@license@@
    </license>

@@PLUGINS@@
@@FRAGMENTS@@
@@CONTRIBUTING_PLUGINS@@
</feature>
