<?xml version="1.0" encoding="UTF-8"?>
<feature
      id="@@packageName@@.feature"
      label="@@pluginName@@"
      version="@@pluginVersion@@">

    <description>
    @@description@@
    </description>

    <copyright>
    @@copyright@@
    </copyright>

    <license>
    @@license@@
    </license>

@@PLUGIN@@
@@FRAGMENTS@@
@@CONTRIBUTING_PLUGINS@@
</feature>
