package __BASE__.knime.nodes.__NODENAME__;

import com.genericworkflownodes.knime.generic_node.*;

public class __NODENAME__NodeView extends GenericKnimeNodeView
{
	protected __NODENAME__NodeView(GenericKnimeNodeModel nodeModel)
	{
		super(nodeModel);
	}
}